* {
    font-family: monospace;
    
}

nav, footer {
    background: linear-gradient(to right, #02aab0, #00cdac);
    font-size: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}


main{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.hide {
    display: none;
}

.display {
    display: inline;
}

/* .answer-section{
    display: none;
} */

main h1 {
    font-size: 30px;
}

main section {
    font-size: 16px;
}

/* #answer-buttons {
    visibility: hidden;
} */

button {
    background: linear-gradient(to right, #eecda3, #ef629f);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    margin-top: 5px;
    font-size: 18px;
}
/* 
#hide-answer-buttons {
display: none;
}

#hide-next-btn {
    display: none;
} */

#next-btn, #start-btn, #submit-score {
    font-size: 3rem;
}

.correct-selection {
background: green;
}

.wrong-selection {
background: red;
}